header{
    border-bottom: 1px dashed blueviolet;
    padding: 0 0 10px 0;
    margin: 0;
}

body{
    background-color: aquamarine;
    display: block;
    text-align: center;
    font-family:"Comic Neue", cursive;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 10px;
}

#app-container{
    background-color: white;
    border: none;
    box-shadow: 10px 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    line-height: 10px;
    margin: 5px 5px 5px 5px;
}

/* FORM */
#search-form {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    background-color:navajowhite;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#city-input{
    color: black;
    background-color: beige;
    border: none;
    border-radius: 5px;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
    width: 80%;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
}

#city-search-button{
    border: none;
    border-radius: 5px;
    background-color: beige;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}
/* DATE & TIME*/
#date-time {
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    font-style: italic;
    color:navy;
    font-size: 15px;
    margin: 1px;
    display: flex;
    justify-content:center;
    padding: 2px 2px;
    line-height: 1.0;
}

/* CITY, TEMP & EMOJI */
.city-temp-emoji-container{
    font-weight: 800;
    font-style: normal;
    color:navy;
    font-family: "Henny Penny", system-ui;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding:5px 0;
    margin-bottom: 0;
}

.city-name{
    font-size: 50px;
    font-weight:800;
    padding: 25px 0;
    margin:10px 10px;
}

.emoji{
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 50px;
    padding: 2px 0;
    margin-right:10px;
}

.temperature-value{
    position: relative;
    top: 30px;
    bottom: 20px;
    font-size: 50px;
    margin-right: 10px;
    font-weight: 700;
}

.unit{
    position:relative;
    top: 15px;
    left: -10px;
    font-size: 20px;
    font-weight: 400;
}

/*CONDITIONS, HUMIDITY & WINDSPEED*/
#conditions-container{
    color: navy;
    font-family: "Comic Neue", cursive;
    font-style: normal;
    font-size: 15px; 
    padding: 10px 10px 10px 10px;
    line-height: 20px;
    margin-top: -30px;
    margin-left: 0;
    display: block;
    text-align: left;
}

#conditions-description{
    text-transform: capitalize;
    font-weight: 600;
    justify-content: flex-start;
}

.humidity-wind-data{
    font-weight: 100;
}

#humidity{
    font-weight: 800;    
}

#wind-speed{
    font-weight: 800;
}

strong{
    color:#8a1253;
}

footer{
    border-top: 1px dashed blueviolet;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-size: 10px;
    color:brown;
    display:block;
    text-align:center;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}
a{
    color:black;
    text-decoration: underline;
    font-weight:600;
    font-size: 10px;
}








/*henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}*/

/*
comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;



comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;


*/

/* .first-color { 
	background: #fda403; 
}
	
.second-color { 
	background: #e8751a; 
}

.third-color { 
	background: #c51350; 
}

.fourth-color { 
	background: #8a1253; 
}*/