header{
    border-bottom: 1px dashed #e8751a;
    padding: 0 0 10px 0;
}

body {
    font-family: "Comic Neue", cursive;
    background-color:#e8751a;
    max-width: 650px;
    margin: 0 auto;
}

#app-container {
    border-radius: 10px;
    background-color:#c51350;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
/* form */
#search-form {
    text-align: center;
    margin: 20px;
    }

#city-input{
    color: black;
    background-color: beige;
    border: none;
    border-radius: 5px;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
    width: 60%;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
}

#city-search-button{
    border: none;
    border-radius: 5px;
    background-color: beige;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
}
/* date and time */

#date-time {
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
    color:navy;
    font-size: 20px;
    margin: 1px;
    display: flex;
    justify-content:center;
    padding: 2px 2px;
    line-height: 1.0;
}
/* city name, temperature and emoji*/
.city-temp-emoji-container{
    font-weight: 800;
    font-style: normal;
    color:navy;
    font-family: "Henny Penny", system-ui;
    display: flex;
    flex-direction: row; 
    flex:1;
}

.city-name {
    font-size: 60px;
    margin-top: 10px;
   
 }

.emoji {
    font-size: 40px;
    margin-left: 10px;
    justify-content: end;
}

.temperature-value{
    font-size: 40px;
    margin-top: 30px;
    justify-content: end;
} 

.unit{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 5px;
}

/*Conditions, humidty and wind*/
#conditions-description{
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
    text-transform: capitalize;
}

footer{
 font-family: "Comic Neue", cursive;
 font-size: 10px;
 font-weight:600;
 color:#8a1253;
 text-align: center;
 border-top: 1px dashed #e8751a;
 padding: 10px 0 0 0;
}

/*henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}*/

/*
comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;



comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;


*/

/* .first-color { 
	background: #fda403; 
}
	
.second-color { 
	background: #e8751a; 
}

.third-color { 
	background: #c51350; 
}

.fourth-color { 
	background: #8a1253; 
}*/